:root{
    --color-bg: #FAF7F0;
    --color-font: #181818;
    --color-principal: #5f9df7; 
    --z-navbar: 5000;
    --z-index: 5000;
    --z-icon-menu: 4000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body.darkTheme {
    --color-bg: #181818;
    --color-font: #FAF7F0;
}

body{
    background-color: var(--color-bg);
    color: var(--color-font);
}



ul{
    list-style: none;
}


img{
    display: block;
    max-width: 100%;
}


a{
    text-decoration: none;
    color: inherit;
}

html{
    scroll-behavior: smooth;
}

.iconTheme{
    font-size: 2rem;
    cursor: pointer;
}

.iconShowMenu {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    z-index: var(--z-icon-menu);
    display: none;

}

.navbar{
    display: flex; /*coloca un elemento a lado del otro*/
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 50px;
    background-color: var(--color-bg);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: var(--z-navbar);
}

.navbar__menu{
    display: flex;
    gap: 1rem;
    max-width: 700px;
}

@media (max-width: 700px) {
    .navbar_menu {
        background-color: var(--color-bg);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

        position: fixed;
        top: 50px;
        left: 0;
        height: 100vh;
        width: 40vm;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        transform: translateX(-200%);
        transition: transform 0.5s;
    }

    .navbar_menu--show{
        transform: translateX(0);
    }

    .iconShowMenu{
        display: block;
    }

}

.link{

    padding: 0.5rem;
    display: inline-block;
    border-radius: 0.5rem;

}

.link--active{
    background-color: var(--color-principal);
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.home__tittle{
    text-align: center;
    font-size:3rem;
}

.home__tittle span{
    font-size: 3.2rem;
    color: var(--color-principal);
    text-align: center;
}

.about__img {
    width: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.portfolios {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

/* .portfolios:nth-child(1){
    transition-delay: 200ms;
}

.portfolios:nth-child(2){
    transition-delay: 400ms;
}

.portfolios:nth-child(3){
    transition-delay: 600ms;
} */

.container__principal {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1rem;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
}

.form input, .form textarea {
    padding: 1rem;
    outline: none;
    border: none ;
    border-radius: 0.5rem;
    border: 2px solid transparent;
    transition: border 0.5s;
}

.form input:focus, 
.form textarea:focus {
    border: 2px solid var(--color-principal)
}

.btn{
    background-color: var(--color-principal);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    color: #fff;
    cursor: pointer;

}

@media(min-width: 800px){
    .portfolios{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 300px;
    }
    .portfolios img {
        height: 100%;
        width: 100%;
    }

    .form {
        width: 80%;
    }
}

.hidden{
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateX(-100px);
}

.show{
    opacity: 1;
    transform: translateX(0);
}